# 리스트

리스트(List)란, 여러 개의 값을 순서가 있는 구조로 저장하는 자료

mutable, iterable, sequence

* 기본 모양, 빈 리스트 : []
 * listname = list()
 * listname = []
* 리스트 안에는 어떤 자료형도 들어 갈 수 있다.
* 각 요솟값은 쉼표 , 로 구분
* 생성된 이후 내용 변경 가능

## 인덱싱 
> * listname[인덱싱번호]
> * 인덱싱 번호는 0부터 시작
> * 가장 마지막 요소의 인덱스 번호는 -1
> * 중첩 리스트의 요소도 인덱싱 가능

In [1]:
a = [1,2,3,[4,5,[6,7,8]],9]

In [2]:
a[0]

1

In [3]:
a[1]

2

In [4]:
a[3]

[4, 5, [6, 7, 8]]

In [5]:
a[3][2]

[6, 7, 8]

In [6]:
a[3][2][0]

6

In [7]:
a[-1]

9

In [8]:
a[-2]

[4, 5, [6, 7, 8]]

## 슬라이싱
> * listname[시작인덱스번호:끝번호]
> * 끝 번호는 포함하지 않는다.
> * 시작번호부터 끝까지 listname[시작인덱스번호:]
> * 처음부터 끝 번호까지 listname[:끝 인덱스 번호]
> * 리스트 전체 복사 listname.[:]

In [37]:
a = [1,2,3,[4,5,['python']],9]

In [14]:
a[0:2]

[1, 2]

In [15]:
a[3:5]

[[4, 5, ['python']], 9]

In [16]:
a[:2]

[1, 2]

In [17]:
a[2:]

[3, [4, 5, ['python']], 9]

In [41]:
a[3][:2]

[4, 5]

In [42]:
a[:]

[1, 2, 3, [4, 5, ['python']], 9]

## 리스트 연산
### 리스트더하기

In [43]:
a = [1,2]
b = [3,4]
a+b

[1, 2, 3, 4]

In [44]:
a = ['hello']
b = ['world']
a+b

['hello', 'world']

### 리스트 반복하기

In [45]:
a= [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [46]:
a = ['ho']
a*5

['ho', 'ho', 'ho', 'ho', 'ho']

## 리스트 수정

### 리스트 값 직접 수정

In [3]:
a = [1,2,3]
a[1]= 4
a
# 리스트의 인덱스를 가져와 집접 바꿔줌

[1, 4, 3]

### del 


 * del 객체[x]는 x번째 요솟값을 삭제한다.

In [4]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [5]:
a = [1,2,3]
del a[1:]
a
#슬라이싱 기법을 사용하여 여러 요소를 한꺼번에 없앨 수 있다.

[1]

In [50]:
a = [1,2,3]
del a[3]
a
# IndexError: list assignment index out of range

IndexError: list assignment index out of range

### remove
* 객체.remove(없애려는 요소)
* remove(x) 는 리스트에서 **첫번째로 나오는 x**를 삭제한다.
* 반복해야 모든 x를 제거할 수 있다.
* **_삭제하려는 값이 없으면 ValueError_**

In [7]:
a = [1,2,3,4,5,4,3,2,1]
a.remove(5)
a

[1, 2, 3, 4, 4, 3, 2, 1]

In [51]:
a = [1,2,3,4,5,4,3,2,1]
a.remove(6)
a
# 삭제하려는 값이 없으면 ValueError

ValueError: list.remove(x): x not in list

### pop 
* 객체.pop(꺼낼요소)
* pop() : 리스트의 **맨마지막** 요소를 **돌려주고** 그 요소는 **삭제한다**.

In [11]:
a = [1,2,3,4,5,4,3,2,1]
print(a.pop())
print(a)

1
[1, 2, 3, 4, 5, 4, 3, 2]

* pop(x) : 리스트의 **x번째** 요소를 **돌려주고** 그 요소는 **삭제한다**.

In [12]:
a = [1,2,3,4,5,4,3,2,1]
print(a.pop(4))
print(a)

5
[1, 2, 3, 4, 4, 3, 2, 1]

In [52]:
a = []
print(a.pop())
print(a)
# 삭제 할 요소 없으면 인덱스 에러 IndexError: pop from empty list

IndexError: pop from empty list

In [53]:
a = [1,2,3,4,5,4,3,2,1]
print(a.pop(10))
print(a)
# IndexError: pop index out of range

IndexError: pop index out of range

### append
* 객체.append(추가할요소)
* 리스트의 **맨 마지막**에 x를 추가한다.
* **_리스트 안에는 어떤 자료형도 추가 할 수 있다._**

In [15]:
a = [1,2,3,4,5,4,3,2,1]
a.append(0)
a

[1, 2, 3, 4, 5, 4, 3, 2, 1, 0]

In [16]:
a = [1,2,3,4,5,4,3,2,1]
a.append([0,1,2])
a

[1, 2, 3, 4, 5, 4, 3, 2, 1, [0, 1, 2]]

### insert 
* 객체.insert(추가할위치,추가할요소)

In [17]:
a = [1,2,3,4,5,4,3,2,1]
a.insert(0,77)
a

[77, 1, 2, 3, 4, 5, 4, 3, 2, 1]

In [54]:
a = [1,2,3,4,5,4,3,2,1]
a.insert(0,[77])
a

[[77], 1, 2, 3, 4, 5, 4, 3, 2, 1]

### extend 
* 객체.extend(x)
* **_x에는 리스트만 올 수 있다._**
* 원래리스트 += x리스트

In [18]:
a = [1,2,3,4,5,4,3,2,1]
a.extend([7,8,9])
a

[1, 2, 3, 4, 5, 4, 3, 2, 1, 7, 8, 9]

In [56]:
a = [1,2,3,4,5,4,3,2,1]
a.extend(7)
a
# 리스트가 아니면 TypeError: 'int' object is not iterable

TypeError: 'int' object is not iterable

## 리스트 관련 함수
### sorted 
* sorted(객체)
* **입력데이터에 상관없이 실행결과는 리스트로 나온다**
* 오름차순 : sorted(객체)
* 내림차순 : sorted(객체,reverse=True)
* ()안에 iterable 자료형 들어감
* _list.sort() 메서드가 리스트에게만 정의된다는 것과 달리, sorted() 함수는 모든 이터러블을 받아들입니다._

In [27]:
a = [3,1,2]
sorted(a)
a
# 기존 데이터가 변하는게 아니라 새로운 리스트가 생기는 것이다.

[3, 1, 2]

In [28]:
a = [3,1,2]
aa = sorted(a)
aa

[1, 2, 3]

In [32]:
b = ['d', 'a', 'b', 'c']
bb= sorted(b, reverse=True)
bb
# 내림차순 정렬

['d', 'c', 'b', 'a']

#### parameter
  * sorted(객체, key= 정렬기준)
  * 정렬을 목적으로 하는 함수를 값으로 넣는다. 
  * lambda를 이용할 수 있다.
  * key 값을 기준으로 정렬되고 기본값은 오름차순이다. 
  * 앞에 '-'을 붙히면 reverse되어 정렬된다. 
  * 비교할 아이템의 요소가 복수 개일 경우, 튜플로 그 순서를 내보내주면 된다.
  * sort도 동일하게 가능

In [39]:
a = ['나비','apple','가방','banana','다람쥐','abc']
b = sorted(a, key=len) #함수
b
# 요소의 길이를 기준으로 오름차순 정렬

['나비', '가방', '다람쥐', 'abc', 'apple', 'banana']

In [40]:
a = ['나비','apple','가방','banana','다람쥐','abc']
b = sorted(a, key=lambda x : x[1]) #람다
b
#요소의 1번 인덱스를 기준으로 오름차순 정렬

['banana', 'abc', 'apple', '다람쥐', '가방', '나비']

In [46]:
a = [('나비', 7), ('apple', 1), ('가방', 3), ('banana', 88), ('나비',100), ('banana',3)]
# 비교할 아이템의 요소가 복수 개일 경우, 튜플로 그 순서를 내보내주면 된다. 
# 아이템 첫 번째 인자를 기준으로 오름차순으로 먼저 정렬하고,
# 그리고 그 안에서 다음 두 번째 인자를 기준으로 내림차순으로 정렬하게 하려면, 다음과 같이 할 수 있다.
b = sorted(a, key=lambda x : (x[0], x[1])) 
b

[('apple', 1),
 ('banana', 3),
 ('banana', 88),
 ('가방', 3),
 ('나비', 7),
 ('나비', 100)]

In [47]:
a = [('나비', 7), ('apple', 1), ('가방', 3), ('banana', 88), ('나비',100), ('banana',3)]
b = sorted(a, key=lambda x : (x[0], -x[1])) 
b
# '-'부호를 이용해서 역순으로 가능

[('apple', 1),
 ('banana', 88),
 ('banana', 3),
 ('가방', 3),
 ('나비', 100),
 ('나비', 7)]

### sort
* 객체.sort()
* 리스트의 요소를 순서대로 정렬
* sorted처럼 _새로운 리스트가 생기는 것이 아니라 기존 데이터가 변경된다._
* 데이터 자체가 변경되므로 리스트의 데이터가 항상 일정한 순서로 정리되어 있어야 할 때 사용한다.
* 오름차순 : 리스트.sort()
* 내림차순 : 리스트.sort(reverse=True)

In [20]:
a = [3,1,2]
a.sort()
a

[1, 2, 3]

In [21]:
b = ['d', 'a', 'b', 'c']
b.sort()
b

['a', 'b', 'c', 'd']

In [34]:
a = [3,1,2]
print(a.sort())
print(a)
# None 주의

None
[1, 2, 3]

### reverse
* 리스트.reverse()
* 리스트를 역순으로 뒤집어 준다.
* 순서대로 정렬 후 역순으로 뒤집는 것이 아니라, 현재 리스트를 그대로 뒤집는다.

In [49]:
a = [3,1,2]
a.reverse()
a

[2, 1, 3]

In [48]:
b = ['d', 'a', 'b', 'c']
b.reverse()
b

['c', 'b', 'a', 'd']

### index
* 리스트.index(찾을요소)
* 리스트에 찾을 요소가 있으면 그 요소의 위치 값을 돌려준다.
* 존재 하지 않는 요소를 넣으면 _ValueError_

In [57]:
a = [1,2,3,4,5]
a.index(3)

2

In [59]:
a = [1,2,3,4,5]
a.index(0)
# 존재 하지 않는 요소를 넣으면 ValueError

ValueError: 0 is not in list

### count
* 리스트.count(찾을요소)
* 리스트안에 찾을 요소가 몇개 있는지 조사하여 그 개수 돌려줌

In [60]:
a = [1,1,1,2,3,4,5]
a.count(1)

3

### max
* max(리스트)
* 오름차순 마지막 값

In [61]:
a = [1,100,4,77,36]
max(a)

100

In [62]:
a = ['z','b','k']
max(a)

'z'

### min
* min(리스트)
* 오름차순 제일 처음 값

In [63]:
a = [1,100,4,77,36]
min(a)

1

In [64]:
a = ['z','b','k']
min(a)

'b'

### sum
* sum(리스트)
* 숫자로 만들어진 리스트 내부 값 전체의 합

In [65]:
a = [1,2,3,4,5]
sum(a)

15

In [66]:
a = ['a','b','c']
sum(a)
# 숫자가 아니면 TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
a = [1,2,3,4,5]
sum(a,10)
# 두번째 인자로 숫자를 넣으면 리스트 내부 값 전체의 합에 숫자를 더함

25

### divmod
* divmod(값, 나누기 숫자)
* 첫번째 인자를 두번째 인자로 나눈 몫과 나머지를 튜플 형식으로 변환

In [74]:
divmod(10,2)

(5, 0)

In [75]:
divmod(7,2)

(3, 1)

In [78]:
divmod(-7,2)

(-4, 1)

In [79]:
divmod(7,-2)

(-4, -1)

In [80]:
divmod(-7,-2)

(3, -1)

In [83]:
divmod(10.8,2)

(5.0, 0.8000000000000007)

In [84]:
divmod(1.4,2)

(0.0, 1.4)

### abs
* abs(숫자)
* 값을 절대값으로 변환

In [72]:
abs(1)

1

In [73]:
abs(-1)

1

### pow
* pow(값,제곱값)
* 값에 제곱하여 반환

In [86]:
pow(3,2)

9

In [88]:
pow(1.5,3)

3.375